:root {
  --ifm-font-size-base: 16px;
}

.markdown h1 {
  margin-top: 0.2em;
}

.markdown table {
  font-size: 0.95em;
}

.navbar__link {
  font-weight: 500;
}

.markdown pre code {
  font-size: 0.95em;
}
